Source:aseba
Maintainer: Stephane Magnenat <stephane@nospam.magnenant.net>
Section:devel
Priority:optional
Standards-Version: 3.7.2
Build-Depends: cmake (>=2.6), libdashel (>=1.1.0), libenki (>=1.9), libqt4-dev, libqt4-opengl-dev, libqtwebkit-dev, qt4-dev-tools, libqwt5-qt4-dev, libudev-dev, libxml2-dev

Package:aseba
Architecture: any
Depends: ${shlibs:Depends}
Description: Aseba is an event-based framework for distributed mobile robots control.
 Its core is a lightweight virtual machine, small enough to run on any 16 bits microcontroller.
 In Aseba, all virtual machines are linked in a network and all their programs are developed
 and debugged from a single application, Aseba Studio.
