[Desktop Entry]
Type=Application
Name=Aseba Challenge
GenericName=Aseba robot simulator for network play
GenericName[fr]=Simulateur de robot Aseba pour jeu réseau
GenericName[de]=Aseba Robotersimulator für Network-Gaming
GenericName[it]=Simulatore di robot Aseba per il gioco in rete
GenericName[es]=Aseba simulador de robot para jugar en la red
GenericName[pt]=Aseba simulador de robô para jogar em rede
Exec=asebachallenge
TryExec=asebachallenge
Categories=Education;Science;
Icon=asebachallenge
