[Desktop Entry]
Type=Application
Name=Aseba Playground
GenericName=Aseba robot simulator
GenericName[fr]=Simulateur de robot Aseba
GenericName[de]=Aseba Robotersimulator
GenericName[it]=Simulatore di robot Aseba
GenericName[es]=Aseba simulador de robot
GenericName[pt]=Aseba simulador de robô
Exec=asebaplayground
TryExec=asebaplayground
Categories=Education;Science;
Icon=asebaplayground
