[Desktop Entry]
Type=Application
Name=Aseba Challenge
GenericName=Aseba e-puck robot simulator for network play
GenericName[fr]=Simulateur de robot Aseba e-puck pour jeu réseau
Exec=asebachallenge
TryExec=asebachallenge
Categories=Education;Science;Aseba
Icon=asebachallenge.png
