[Desktop Entry]
Type=Application
Name=Aseba Studio
GenericName=Integrated Development Environment
GenericName[fr]=Environnement de développement intégré
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[it]=Ambiente di sviluppo integrato
GenericName[es]=Ambiente de desarrollo integrado
GenericName[pt]=Ambiente de desenvolvimento integrado
Exec=asebastudio
TryExec=asebastudio
Categories=Education;Science;
Icon=asebastudio
