[Desktop Entry]
Type=Application
Name=Aseba Studio for Thymio
Name[fr]=Aseba Studio pour Thymio
GenericName=Integrated Development Environment
GenericName[fr]=Environnement de développement intégré
Exec=asebastudio "ser:name=Thymio-II" -ar
TryExec=asebastudio
Categories=Education;Science
Icon=asebathymio.png
