[Desktop Entry]
Type=Application
Name=Aseba Challenge
GenericName=Aseba robot simulator for network play
GenericName[fr]=Simulateur de robot Aseba pour jeu réseau
Exec=asebachallenge
TryExec=asebachallenge
Categories=Education;Science;Aseba
Icon=asebachallenge.png
