[Desktop Entry]
Type=Application
Name=Aseba Playground
GenericName=Aseba robot simulator for solo play
GenericName[fr]=Simulateur de robot Aseba pour jeu solo
Exec=asebaplayground
TryExec=asebaplayground
Categories=Education;Science;Aseba
Icon=asebaplayground.png
