[Desktop Entry]
Type=Application
Name=Thymio Firmware Updater
Name[fr]=Mise à jour du firmware du Thymio
Name[de]=Thymio Firmware Updater
Name[es]=Actualizador del firmware para Thymio
Exec=thymioflasher
TryExec=thymioflasher
Categories=Education;Science
Icon=thymioflasher.png
