[Desktop Entry]
Type=Application
Name=Thymio Wireless Network Configurator
Exec=thymiownetconfig
TryExec=thymiownetconfig
Categories=Education;Science;
Icon=thymiownetconfig
